<html>
<head>
	<meta charset="utf-8"/>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link href="/style/default.css" rel="stylesheet">
	<link href="/style/sub.css" rel="stylesheet">
</head>
<body>
	#parse('control/head.vm')
	#parse('control/menu.vm')
	$screen_content
	#parse('control/foot.vm')
</body>
</html>