body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        
        .navbar-text a {
            padding: 10px 15px;
        }

        @media (max-width: 980px) {
            body {
                padding-top: 0;
                padding-bottom: 0;
            }
            .navbar-fixed-top {
                position: static;
                margin-bottom: 20px
            }
            .nav.pull-right .divider-vertical {
                margin: 0;
                visibility: hidden;
            }
        }
		
        td [class^=icon-], td [class*=" icon-"] {
            margin-right: 5px;
        }
        
        .nav-list {
            padding: 0 !important;
        }
        .nav-list > li > a {
            padding: 8px 14px !important;
        }
        
        .nav-list > .nav-header {
            padding: 8px 14px !important;
        }
        
		.active.emphasize {
			font-weight: 700;
			font-size: 18px;
		}
		.active.emphasize a {
			color: #FFFF55 !important;
		}