

<h1>
	Hello world!  $rc
</h1>

<P> The time on the server is xxx. </P>

<p>

$result.msg

用户列表:
#foreach($user in $users)
	$user.customerId,$user.customerName,$user.customerAddress<br/>
	
#end

</p>

<form action="/user/add" method="post">
	机构类型：<input type="text"  name="type" />
	机构名称：<input type="text" name="name" />
	机构地址：<input type="text"  name="address" />
	联系人：<input type="text"  name="contactName" />
	手机号码：<input type="text"  name="contactPhone" />
	邮箱：<input type="text"  name="contactEmail" />
	
	<input type="submit" value="新增机构"/>
</form>


